# vim: ft=nginx

{% from "nginx/map.jinja" import nginx with context %}

worker_processes {{ nginx.config.main.worker_processes }};
error_log {{ nginx.config.main.error_log }};

#pid        logs/nginx.pid;

events {
    worker_connections {{ nginx.config.main.events.worker_connections }};
}

http {
    include       mime.types;

    default_type application/octet-stream;
    access_log off;
    sendfile on;
    keepalive_timeout 65;

    {% for inc in nginx.config.main.http.include %}
    include  {{ nginx.includes_dir | path_join(inc) }};
    {% endfor %}
}
