# vim: ft=nginx

{% from "nginx/map.jinja" import nginx with context %}

worker_processes {{ nginx.config.main.worker_processes }};
error_log {{ nginx.config.main.error_log }};

events {
    worker_connections {{ nginx.config.main.events.worker_connections }};
}

http {
    include mime.types;

    default_type application/octet-stream;
    access_log off;
    server_tokens off;
    sendfile on;
    keepalive_timeout 30;
    index index.html;

    {% for inc in nginx.config.main.http.include_files %}
    include  {{ nginx.includes_dir | path_join(inc) }};
    {% endfor %}
}
