{% import_yaml "nginx/defaults/nginx.yaml" as defaults %}
{% import_yaml "nginx/defaults/os.yaml" as os %}

{% set nginx = salt.grains.filter_by(
    defaults,
    merge=salt.grains.filter_by(
        os, grain='os_family',
        merge=salt.pillar.get('nginx', {})
    ),
    base='nginx'
) %}

{# {% do salt.log.info(nginx) %} #}
