{% from "nginx/map.jinja" import nginx with context %}

server {
    listen       80 default_server;
    server_name  {{ cfg.server_name|default('localhost') }};

    location / {
        root   {{ cfg.root|default(nginx.default_root) }};
        index  index.html index.htm;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/local/www/nginx-dist;
    }
}
